/*Clases*/
@font-face {
    font-family: "cool";
    src: url(../css/coolvetica\ compressed\ hv.otf);
    }

 /*INDEX*/   
.link{
    display: flex;
    position: relative;
    font-family: "cool";
    font-size: 35px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    }

.descripcion1{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 100px;
    z-index: 3;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    }

.imagen{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.fondo1{
    display: flex;
    position: relative;
    z-index: -1;
    }

.video{
    display: flex;
    position: relative;
    top: -600px;
    left: 100px;
    right: 100px;
    width: 1700px;
    height: 300px;
    flex-wrap: wrap;
    z-index: 1;
    }

.mapa{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    left: 100px;
    top: -400px;
    }

.link2{
    display: flex;
    font-family: "cool";
    font-size: 60px;
    flex-direction: column;
    position: relative;
    left: 1200px;
    top: -40px;
    gap: 40px;
    z-index: 1;
    flex-wrap: wrap;
    }
   
/*PRODUCTOS*/
.productos{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, auto);
    margin-top: 20px;
    row-gap: 60px;

}

.imagen{
    width: auto;
    height: auto;
}

.compra{
    display: flex;
    color: white;
    background-color: green;
}

.carrito{
    display: flex;
    color: white;
    background-color: midnightblue;
}

/*
.compra{
    display: flex;
    color: white;
    background-color: green;
}

.carrito{
    display: flex;
    color: white;
    background-color: midnightblue;
}

.item1{
    flex-wrap: wrap;
    border: 5px solid gray;
}

.item2{
    flex-wrap: wrap;
    border: 5px solid gray;
}

.item3{
    flex-wrap: wrap;
    border: 5px solid gray;
}

.item4{
    flex-wrap: wrap;
    border: 5px solid gray;
}

.item5{
    flex-wrap: wrap;
    border: 5px solid gray;
}

.item6{
    display: flex;
    border: 5px solid gray;
    margin: 20px;
    flex-wrap: wrap;
}
*/

.politicas_de_cambio{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    text-align: center;
    }

.preguntas_frecuentes{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    text-align: center;
    font-weight: bold;
    }

.campos_contacto{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    }

.mensaje_rellenar textarea{
    display: flex;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    }

.mensaje_rellenar p{
    display: flex;
    font-weight: bold;
    }

.mensaje_rellenar input{
    display: flex;
    color: white;
    background-color: cornflowerblue;
    }




/*Etiquetas*/
footer{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-style: italic;
    font-size: small;
   position: relative;
   justify-content: center;
   top: -250px;
       }      

h1{
    font-family: "cool";
    font-size: 70px;
    }

a{
    text-decoration: none;
    color: #483d8b;
    }

p{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    }


