/*INDEX*/   
 .nav-link{
    color: white;
}
.active{
   background-color: whitesmoke;
}

/*CARROUSEL*/
.carousel-inner p{
   color: white;
   font-size: 30px;
   text-shadow: 2px 2px black;
}

/*PRODUCTOS*/
 .productos{
    color: blue;
 }

