.formulario1{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.form-select{
    background-color: $color-cuaternario;
    color: white;
    }

p{
    font-size: 20px;
}

.form-label{
    border: 10px;
    color: black;
    margin-top: 30px;
}

.btn{
    background-color: $color-terciario;
    color: white;
    width: 200px;
}



