.formulario1{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.form-select{
    background-color: $color-cuaternario;
    color: white;
    }

.mb-1, .mb-3, .mb-4{
    font-size: 20px;
}

.mb-2{
margin-top: 10px;
}

.form-label{
    border: 10px;
    color: black;
    margin-top: 30px;
}

.enviar{
    background-color: $color-terciario;
    color: white;
    width: 200px;
}

.enviar:hover{
    background-color: $color-cuaternario;
    color: white;
}


